In [2]:
%cd ..

import yfinance as yf
import pandas as pd

from quantipy.assets import Currency, Equity, Option

/home/luissimaoaf/self/dev/quantipy

In [3]:
BACKTEST_START = '2018-01-01'

spy = Equity('SPY')
MKT = [spy]

# getting data
DATA = {}

for asset in MKT:
    ticker = yf.ticker.Ticker(asset.symbol)
    
    ticker_data = ticker.history(start=BACKTEST_START, interval='1d')
    DATA[asset.symbol] = ticker_data
    
    option_chain = ticker.option_chain()

In [4]:
import os
options_data = pd.read_csv('../data/option_chain.csv')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [13]:
for df in pd.read_csv("../data/option_chain.csv", chunksize=100):
    print(df)
    break

df.iloc[-10:]

          date act_symbol  expiration  strike call_put    bid    ask     vol  \
0   2019-02-09          A  2019-02-15    65.0     Call  10.50  11.25  0.2705
1   2019-02-09          A  2019-02-15    65.0      Put   0.00   0.03  0.3133
2   2019-02-09          A  2019-02-15    67.5     Call   8.15   8.50  0.2705
3   2019-02-09          A  2019-02-15    67.5      Put   0.00   0.03  0.3133
4   2019-02-09          A  2019-02-15    70.0     Call   5.70   6.00  0.2705
..         ...        ...         ...     ...      ...    ...    ...     ...
95  2019-02-09        AAL  2019-03-29    37.5      Put   2.54   2.76  0.3494
96  2019-02-09        AAL  2019-03-29    38.5     Call   0.79   1.05  0.3445
97  2019-02-09        AAL  2019-03-29    38.5      Put   3.20   3.40  0.3432
98  2019-02-09        AAL  2019-03-29    39.5     Call   0.51   0.70  0.3294
99  2019-02-09        AAL  2019-03-29    39.5      Put   3.85   4.15  0.3305

     delta   gamma   theta    vega     rho
0   1.0000  0.0000 -0.0046  0.0000  0.0124
1  -0.0002  0.0002 -0.0002  0.0001  0.0000
2   0.9991  0.0010 -0.0053  0.0003  0.0129
3  -0.0034  0.0031 -0.0024  0.0011  0.0000
4   0.9845  0.0137 -0.0127  0.0041  0.0132
..     ...     ...     ...     ...     ...
95 -0.5947  0.0859 -0.0169  0.0506 -0.0252
96  0.3295  0.0797 -0.0176  0.0477  0.0147
97 -0.6774  0.0817 -0.0151  0.0469 -0.0272
98  0.2483  0.0729 -0.0146  0.0417  0.0112
99 -0.7591  0.0749 -0.0123  0.0415 -0.0281

[100 rows x 13 columns]

,date,act_symbol,expiration,strike,call_put,bid,ask,vol,delta,gamma,theta,vega,rho
90,2019-02-09,AAL,2019-03-29,36.0,Call,1.80,2.10,0.3596,0.5368,0.0838,-0.0205,0.0524,0.0233
91,2019-02-09,AAL,2019-03-29,36.0,Put,1.71,1.96,0.3600,-0.4660,0.0850,-0.0182,0.0523,-0.0208
92,2019-02-09,AAL,2019-03-29,36.5,Call,1.51,1.85,0.3522,0.4939,0.0859,-0.0201,0.0526,0.0216
93,2019-02-09,AAL,2019-03-29,36.5,Put,1.95,2.26,0.3601,-0.5082,0.0853,-0.0182,0.0523,-0.0224
94,2019-02-09,AAL,2019-03-29,37.5,Call,1.12,1.40,0.3483,0.4095,0.0846,-0.0192,0.0512,0.0181
95,2019-02-09,AAL,2019-03-29,37.5,Put,2.54,2.76,0.3494,-0.5947,0.0859,-0.0169,0.0506,-0.0252
96,2019-02-09,AAL,2019-03-29,38.5,Call,0.79,1.05,0.3445,0.3295,0.0797,-0.0176,0.0477,0.0147
97,2019-02-09,AAL,2019-03-29,38.5,Put,3.20,3.40,0.3432,-0.6774,0.0817,-0.0151,0.0469,-0.0272
98,2019-02-09,AAL,2019-03-29,39.5,Call,0.51,0.70,0.3294,0.2483,0.0729,-0.0146,0.0417,0.0112
99,2019-02-09,AAL,2019-03-29,39.5,Put,3.85,4.15,0.3305,-0.7591,0.0749,-0.0123,0.0415,-0.0281